* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

header {
  background-color: transparent;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgb(14 15 20),
    rgb(41 45 63) 57%,
    rgb(14 15 20) 100%
  );
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  height: 50vh;
  width: 50vw;
  background-color: transparent;
  border: 1px solid white;
  padding: 20px;
  opacity: 80%;
}

.fact-display {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 80%;
  width: 100%;
  border-top: solid white 1px;
}

.fact-display > p {
  text-align: center;
}

.btn {
  margin-top: 30px;
  padding: 10px;
  color: #fff;
  background-color: transparent;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  border: solid 1px white;
}

.btn:hover {
  box-shadow: 0 0 3px #fff;
}

footer {
  position: fixed;
  color: #fff;
  opacity: 70%;
  font-size: 0.7rem;
  height: 30px;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  padding-bottom: 5px;
}
